@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


html{
    font-size: 13pt;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, #FFF8A6 30vh, #ffffff 30vh);
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;    
}

button{
    cursor: pointer;
}
